[flake8]
filename = *.py

# ignore externals
exclude =
    versioneer.py
    _version.py

# for compatibility with black
max-line-length = 88
select = C,E,F,W,B,B950
extend-ignore = E203,E501,E731,W503
