include versioneer.py
include mpi4jax/_version.py
include mpi4jax/_src/_latest_jax_version.txt

recursive-include mpi4jax *.pyx *.pxd
recursive-exclude mpi4jax *.c

recursive-include tests *.py
recursive-include examples *.py

include LICENSE.md
include README.rst