name: Build GPU extensions

on:
  pull_request:

  push:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      # explicit include-based build matrix, of known valid options
      matrix:
        include:
          # 18.04 supports CUDA 10.1+
          - os: ubuntu-18.04
            cuda: "11.0"
          - os: ubuntu-18.04
            cuda: "10.2"
          - os: ubuntu-18.04
            cuda: "10.1"

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install CUDA
      env:
        cuda: ${{ matrix.cuda }}
      run: |
        source ./conf/install-cuda-ubuntu.sh
        if [[ $? -eq 0 ]]; then
          # Set paths for subsequent steps, using ${CUDA_PATH}
          echo "Adding CUDA to CUDA_PATH, PATH and LD_LIBRARY_PATH"
          echo "CUDA_PATH=${CUDA_PATH}" >> $GITHUB_ENV
          echo "${CUDA_PATH}/bin" >> $GITHUB_PATH
          echo "LD_LIBRARY_PATH=${CUDA_PATH}/lib:${LD_LIBRARY_PATH}" >> $GITHUB_ENV
        fi
      shell: bash

    - name: Install MPI
      run: sh ./conf/travis-install-mpi.sh mpich

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel mpi4py cython

    - name: Build
      run: |
        python setup.py build_ext
        test -f build/mpi4jax/_src/xla_bridge/mpi_xla_bridge_gpu*.so
