name: Build documentation

on:
  pull_request:

  push:
    branches:
      - master

jobs:
  # emulate the readthedocs build system:
  # - use ubuntu 18.04
  # - do not activate conda env, instead put bin/ on PATH
  # - use `setup.py install`

  build-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      # make sure tags are fetched so we can get a version
      - run: |
          git fetch --prune --unshallow --tags

      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: mpi4jax-docs
          environment-file: docs/environment.yml
          auto-activate-base: false
          # same as RTD
          miniforge-variant: Mambaforge
          miniforge-version: "23.11"
          use-mamba: true

      - name: Add conda env to PATH
        run: |
          echo "/usr/share/miniconda/envs/mpi4jax-docs/bin" >> $GITHUB_PATH

      - name: Install mpi4jax
        run: |
          python setup.py install

      - name: Build docs
        run: |
          cd docs
          make html SPHINXOPTS="-W --keep-going"
