name: Coverage

on:
  pull_request:

  push:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]
        os: [ubuntu-latest]
    env:
       MPICH_INTERFACE_HOSTNAME: localhost

    steps:
      - uses: actions/checkout@v2
        # make sure tags are fetched so we can get a version
        run: |
          git fetch --prune --unshallow --tags

      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install MPI
        run: |
          sh ./conf/travis-install-mpi.sh mpich

      - name: Pip install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install wheel
          pip install pytest numpy jax jaxlib mpi4py tqdm cython coverage
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install -v -e .

      - name: Single-execution test with pytest and coverage
        run: |
          coverage run

      - name: Mpirun-executed test with pytest and coverage
        run: |
          mpirun -host localhost:2 -v -np 2 coverage run

      - name: Combine multiple coverage results
        run: |
          coverage combine

      - name: Upload coverage
        uses: codecov/codecov-action@v1
