name: Tests

on:
  pull_request:

  push:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.6, 3.9]
        mpi: [mpich, openmpi]

        include:
          - os: ubuntu-18.04
            python-version: 3.6
            mpi: intelmpi
          - os: ubuntu-18.04
            python-version: 3.9
            mpi: intelmpi

    env:
       MPICH_INTERFACE_HOSTNAME: localhost

    steps:
      - uses: actions/checkout@v2

      # make sure tags are fetched so we can get a version
      - run: |
          git fetch --prune --unshallow --tags

      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install MPI (${{ matrix.mpi }})
        run: |
          sh ./conf/travis-install-mpi.sh ${{ matrix.mpi }}

      - name: Pip install python dependencies
        run: |
          if [ ${{ matrix.mpi }} == 'intelmpi' ]; then
            source ${HOME}/intel/compilers_and_libraries/linux/mpi/intel64/bin/mpivars.sh -ofi_internal=1 release
          fi

          python -m pip install --upgrade pip
          pip install jax jaxlib
          pip install .[dev]

      - name: Single-execution test with pytest
        run: |
          if [ ${{ matrix.mpi }} == 'intelmpi' ]; then
            source ${HOME}/intel/compilers_and_libraries/linux/mpi/intel64/bin/mpivars.sh -ofi_internal=1 release
          fi

          cd tests
          pytest .

      - name: mpirun test with pytest
        run: |
          cd tests

          if [ ${{ matrix.mpi }} == 'intelmpi' ]; then
            source ${HOME}/intel/compilers_and_libraries/linux/mpi/intel64/bin/mpivars.sh -ofi_internal=1 release
            mpirun -v -np 2 pytest .
          else
            mpirun -host localhost:2 -v -np 2 pytest .
          fi
