name: Tests

on:
  pull_request:

  push:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.12"]
        mpi: [mpich, openmpi]
        jax-version: ["latest"]

        include:
          # test intelmpi on Linux
          - os: ubuntu-latest
            python-version: "3.12"
            mpi: intelmpi
            jax-version: "latest"
          # test minimum JAX and Python versions
          - os: ubuntu-latest
            python-version: "3.10"
            mpi: openmpi
            jax-version: "0.4.35"

    env:
       MPICH_INTERFACE_HOSTNAME: localhost

    steps:
      - uses: actions/checkout@v2

      # make sure tags are fetched so we can get a version
      - run: |
          git fetch --prune --unshallow --tags

      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup MPI (${{ matrix.mpi }})
        uses: mpi4py/setup-mpi@v1
        with:
          mpi: ${{ matrix.mpi }}

      - name: Pip install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]

          # ensure we have the right JAX version
          if [ ${{ matrix.jax-version }} == 'latest' ]; then
            pip install jax[cpu] -c mpi4jax/_src/_latest_jax_version.txt
          else
            # some older versions of JAX are not available on PyPI
            pip install jax[cpu]==${{ matrix.jax-version }} -f https://storage.googleapis.com/jax-releases/jax_releases.html
          fi

      - name: Single-execution test with pytest
        timeout-minutes: 5
        run: |
          pytest .

      - name: mpirun test with pytest
        timeout-minutes: 5
        run: |
          mpirun -v -np 2 pytest .
