name: Tests

on:
  pull_request:
    
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
        os: [ubuntu-latest, macos-latest]
    env:
       MPICH_INTERFACE_HOSTNAME: localhost
    steps:
      - uses: actions/checkout@v2
        
      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Find pip cache directory
        id: pip-cache-lookup
        run: |
          echo "::set-output name=dir::$(pip cache dir)"
      - name: Install MPI
        #if: steps.cache-mpi.outputs.cache-hit != 'true'
        run: |
          sh ./conf/travis-install-mpi.sh mpich
      - name: Cache pip installed packages
        id: pip-cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache-lookup.outputs.dir }}
          key: ${{ matrix.os }}-${{ matrix.python-version }}-pip-${{ hashFiles('**/requirements.txt') }}
          #restore-keys: |
          #  ${{ runner.os }}-${{ runner.python-version }}-pip-
      - name: Pip install python dependencies
      #  if: steps.pip-cache.outputs.cache-hit != 'true'
        run: |
          python -m pip install --upgrade pip
          pip install pytest numpy jax jaxlib mpi4py
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install -v .
      - name: Single-execution test with pytest
        run: |
          cd tests 
          pytest .
      - name: mpirun test with pytest
        run: |
          cd tests
          mpirun -host localhost:2 -v -np 2 pytest .
